@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply bg-color-secondary px-9 py-3 rounded-md capitalize font-bold hover:opacity-80 ease-in duration-200;
}

.hover {
    @apply hover:text-color-secondary ease-in duration-200;
}

.title {
    @apply text-3xl md:text-4xl font-bold leading-snug ;
}

.cards {
    @apply border-2 border-solid border-color-gray text-center py-20 px-5 rounded-2xl cursor-pointer hover:bg-color-primary-dark hover:shadow-xl hover:shadow-color-secondary ease-in duration-200
}

.blob1 {
    @apply w-80 h-80 bg-color-blob rounded-full absolute top-0 -left-5 -z-10 blur-2xl opacity-30 overflow-hidden;
}

.blob2{ 
    @apply w-80 h-80 bg-color-secondary rounded-full absolute bottom-10 right-0 -z-10 blur-2xl opacity-30 overflow-hidden;
}

.card {
    @apply flex flex-col items-center justify-between space-y-6 md:flex-row md:space-y-0 md:space-x-6;
}

.after {
    @apply lg:after:content-[''] lg:after:flex lg:after:bg-[url('../img/line-bottom.png')] lg:after:absolute  lg:after:top-4 lg:after:left-32 2xl:lg:after:left-52 lg:after:bg-no-repeat lg:after:h-7 lg:after:w-52
}

.users{
    @apply h-20 w-20 rounded-full p-1 m-3 cursor-pointer ;
}

.user-text {
    display: none;
}

.user-text.active-text {
    display: block;
    animation: moveup 1s line forwards;
}

.user-pic {
    transition: all 0.2s ease;
}

.user-pic.active-pic {
    @apply border-2 border-solid border-color-secondary
}


@keyframes moveup {
    0% {
        margin-top: 40px;
        opacity: 0;
    }
    50% {
        margin-top: 20px;
        opacity: 0.1;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
    
}

.priceCard {
    perspective: 1000px;
}

.front, .back {
    backface-visibility: hidden;
    transition: all 0.4s ease;
}

.front { 
    overflow: hidden;
}

.crad_btn {
    @apply w-full px-9 py-3 bg-color-primary-dark rounded-md capitalize font-bold hover:bg-color-secondary ease-in duration-200;
}

.input {
    @apply bg-gray-50 border border-gray-300 text-sm rounded-lg block w-full p-3 focus:outline-none focus:border-color-secondary;
}